<div class="navbar">
    <div class="navbar-item">
        <a href="/">
            <ion-icon name="home"></ion-icon>
        </a>
    </div>
    <div class="navbar-item">
        <a href="/exercise">
            <ion-icon name="fitness"></ion-icon>
        </a>
    </div>
    <div class="navbar-item">
        <a href="/profile">
            <ion-icon name="person"></ion-icon>
        </a>
    </div>
</div>

@code {
    
}