.navbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5.5rem;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background: #333;
    color: white;
}

.navbar-item {
    font-size: 2rem;
    transition: transform .3s ease-in-out;
}

.navbar-item:hover {
    transform: translateY(20%);
}