<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All"><ion-icon name="podium"></ion-icon></MudNavLink>
    <MudNavLink Href="/exercise" Match="NavLinkMatch.Prefix"><ion-icon name="fitness"></ion-icon></MudNavLink>
    <MudNavLink Href="/profile"  Match="NavLinkMatch.Prefix"><ion-icon name="person"></ion-icon></MudNavLink>
</MudNavMenu>

@*<nav class="navbar navbar-dark bg-dark">
    <div class="navbar-item">
        <a href="/">
            <ion-icon name="podium"></ion-icon>
        </a>
    </div>
    <div class="navbar-item">
        <a href="/exercise">
            <ion-icon name="fitness"></ion-icon>
        </a>
    </div>
    <div class="navbar-item">
        <a href="/profile">
            <ion-icon name="person"></ion-icon>
        </a>
    </div>
</nav>*@

@code {
    
}