@page "/editworkout"

<AuthorizeView>
    <Authorized>
        <MudContainer Class="mt-8">
            <MudStack Spacing="16">
                <h1 class="ms-4">Edit workout</h1>
            </MudStack>
        </MudContainer>
    </Authorized>
</AuthorizeView>

@code {

}