@page "/"

<div style="position: absolute; display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh; width: 100%; font-size: 3rem; gap: 2rem; background: @(Colors.BlueGrey.Darken4); z-index: 10000;">
    <div style="position: relative; width: 80%; height: 5px; background: @(Colors.Grey.Darken2); border-radius: 1000px; overflow: hidden">
        <div style="position: relative; width: @WidthPercent; height: 100%; background: @(Colors.Grey.Lighten3); border-radius: 1000px;"></div>
    </div>
</div>

@code {
    string WidthPercent => Width.ToString() + "%";
    int Width = 0;

    protected override void OnInitialized()
    {
    }

    protected override void OnParametersSet()
    {
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;
        do
        {
            Width++;
            Thread.Sleep(new Random().Next(1, 30));
            StateHasChanged();
        } while (Width < 100);
        NavigationManager.NavigateTo("/activityview");
    }

}