@page "/profile"
@using Model.Entities
@using Domain.Repositories.Interfaces
@using WebGui.Services
@inject IRepository<User> UserRepository;
@inject UserService UserService;
@attribute [Authorize]

<PageTitle>Profile</PageTitle>

<AuthorizeView>
    <Authorized>
        <h3>@UserService.CurrentUser!.Name</h3>
    </Authorized>
    <Authorizing></Authorizing>
    <NotAuthorized>
        <a href="/auth/login">Log In</a>
        <a href="/auth/register">Register</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    
    
    protected override async Task OnInitializedAsync()
    {
        if (await UserService.IsAuthenticated())
        {
            
        }
        else
        {
            
        }
    }

}