@page "/workoutview/{SelectedDate:datetime}"

<PageTitle>Workout View</PageTitle>

<AuthorizeView>
    <Authorized>
        <MudContainer Class="mt-8">
            <MudStack Spacing="16">
                <h1 class="ms-4">Workouts</h1>

                <DataInit Data="Workouts">
                    <ChildContent Context="workouts">
                        <MudList Clickable="true">
                            @foreach (var workout in workouts)
                            {
                                <MudListItem OnClick="() => NavigateToExerciseView(workout.Id)">
                                    <MudGrid Style="min-height: 4rem;">
                                        <MudItem xs="10" Style="display: flex; align-items: center;">
                                            <MudCheckBox Color="Color.Primary" Label="@workout.Name" @bind-Checked="@workout.IsSelected"></MudCheckBox>
                                        </MudItem>
                                        <MudItem xs="2">
                                            <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Surface" aria-label="edit-exercise" OnClick="() => EditWorkout(workout.Id)"></MudIconButton>
                                        </MudItem>
                                    </MudGrid>
                                </MudListItem>
                            }
                        </MudList>
                    </ChildContent>
                </DataInit>
            </MudStack>
        </MudContainer>
    </Authorized>
</AuthorizeView>

@code {

    [Parameter]
    public DateTime SelectedDate { get; set; }

    List<Workout> Workouts { get; set; } = null!;

    void EditWorkout(int workoutId)
    {
        NavigationManager.NavigateTo($"/editworkout/{SelectedDate:yyyy-MM-dd}/{workoutId}");
    }

    void NavigateToExerciseView(int workoutId)
    {
        NavigationManager.NavigateTo($"/exerciseview/{SelectedDate:yyyy-MM-dd}/{workoutId}");
    }

    protected override async Task OnInitializedAsync()
    {
        Workouts = await WorkoutRepository.GetWorkoutsByUser(UserService.CurrentUser!.Id);
    }
}